@font-face {
    font-family: "roboto";
    src: url(/fonts/webfontkit-20260415-021244/roboto-variablefont_wdthwght-webfont.woff) format(woff), 
         url(/fonts/webfontkit-20260415-021244/roboto-variablefont_wdthwght-webfont.woff2) format(woff2);
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'roboto';
}

header {
    width: 100%;
    background: linear-gradient(to bottom right, #0991b2 60% , white 40%);
    padding-top: 20px;
    padding-bottom: 20px;
}

.hcontainer {
    display: flex;
    justify-content: center;
}

.profile1 {
    z-index: 2;
    margin-top: 30px;
    margin-bottom: 30px; 
    max-width: 40%;
    box-shadow: rgba(0, 0, 0, 0.24) 10px 10px 10px;
}

.intro {
    max-width: 45%;
    background-color: white;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 20px;
    padding: 30px;
    position: relative;
    right: 10px;
    max-height: 500px;
}

.introduction > div > div {
    font-size: 30px;
    margin-bottom: 20px;
}

.hicons {
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

main {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
}

.title {
    align-self: flex-start;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.cards {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 450px));
    grid-template-rows: repeat(2, minmax(400px, 500px));
    gap: 50px;
    margin-bottom: 40px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cardimg {
    width: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:20px;
}

.ptitle {
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 90%;
}

.pname {
    font-size: 30px;
}

.picon {
    padding: 10px;
}

.pdescription {
    font-size: 20px;
    align-self: center;
    padding: 20px;
    max-width: 80%;
}

svg {
    width: 30px;
    height: 30px;
}

footer {
    background-color: #0991b2;
    display: flex;
    justify-content: space-evenly;
    padding-bottom:10px;
}

footer > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 50%;
}

footer > img {
    max-width: 40%;
    padding: 30px;
}

footer > div > div {
    display: flex;
    font-size: 20px;
}

footer > div > div > svg {
    margin-right: 10px;
}

footer > div > div > i {
    font-size: 30px;
    display: flex;
    margin-right: 5px;
}

/* media query + img add responsive  */

@media (width < 1200px) {
    .cards {
        grid-template-columns:repeat(2, minmax(250px, 300px)) ;
        grid-template-rows:repeat(3, minmax(300px, 400px)) ;
    }
    
    .description {
        gap: 0px;
    }

    .ptitle {
        padding-top: 10px;
    }
}

@media (width < 600px) {
    .hcontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .profile1 {
        position: static;
        visibility: visible;
        max-width: 70%;
        align-self: center;
    }

    .intro {
        max-width: 60%;
        align-self: center;
        bottom: 0px;
        left: 0px;
    }

    .iprofile {
        position: absolute;
        visibility: hidden;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card {
        align-self: center;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer > div {
        align-self: center;
    }

    footer > img {
        align-self: center;
        max-width: 60%;
    }
}